.filter-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.filter-input {
    min-width: 200px;
    margin-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.filter-label {
    width: max-content;
    display: flex;
    align-items: flex-end;
    font-weight: 300;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.toolbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.control-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.root {
    padding-right: 8px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;

}

.spacer {
    flex: '1 1 100%';
}

.actions {
    color: rgba(0, 0, 0, 0.54);
    display: flex;
    flex-wrap: wrap;
}

.title {
    flex: 0 0 auto;
    margin-right: 40px;
}